input{
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 25px;
}

p{
  display: inline-block;
}

label{
  display: block;
  width: 50px;
}

#labelTempF{
  float: left;
  margin-right: 175px;
}

#labelTempK{
  float: left;
}

div{
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 60px;
  padding-bottom: 25px;
}

